<div class="large-index-container">
    <div class="container-fluid">
        <div class="index-container">

            <h1>Browse Tools</h1>

              <div class="index-tools">

                <div class="row index-tool-row">
                <% @tools.each do |tool| %>
                <div class="col-md-2 small-index-boxes">
                  <div class="index-tool-container">
                    <div class="index-tool-image">
                      <div><%= link_to(image_tag(tool.tool_image.url(:thumb)), tool_path(tool.id)) %></div>
                    </div>
                    <div class="index-tool-body">
                      <div class="index-tool-text">
                        <div class="index-tool-name">
                          <div><%= tool.name %></div>
                        </div>
                        <div class="index-tool-blurb">
                          <div><%= tool.blurb %></div> </br>
                        </div>
                        <div class="index-tool-details">
                          <div>$ <%= tool.rent_price %>.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                </div>
              </div>
            <br>

      </div>
    </div>
</div>