<div class="large-index-container">
    <div class="container-fluid">
        <div class="index-container">

            <h1>Listing Tools</h1>

              <div class="index-tools">

                <div class="row index-tool-row">
                <% @tools.each do |tool| %>
                <div class="col-md-2">
                  <div class="index-tool-container">
                    <div class="index-tool-image">
                      <div><%= image_tag tool.tool_image.url(:thumb) %></div>
                    </div>
                    <div class="index-tool-body">
                      <div class="index-tool-text">
                        <div class="index-tool-name">
                          <div><%= tool.name %></div> </br>
                        </div>
                    
                        <div class="index-tool-details">
                          <div>$ <%= tool.rent_price %>.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                </div>
              </div>
            <br>

            <%= link_to 'New Tool', new_tool_path %>


      </div>
    </div>
</div>