<div class="about-container">
	<div class="container-fluid">
	  <div class="row">
		<div class="about-left col-md-8">
			<h1>About Us</h1>
			Toolmash is a tool rental marketplace. An Airbnb for the Tools, Machinery & Equipment you need to get your work done. Toolmash helps you find that hard to find tool or machine at an affordable price. It lets you borrow this crucial equipment at a fraction of retail price from others who already own the tools, machines or equipment. 
			</br>
			</br>
			At the same time Toolmash allows you to monetize any tools, machinery or equipment you already own by lending them out to people who need the tools but don't want to invest in the full retial price of the tool. 
			</br>
			</br>
			Toolmash is great for high-cost machinery & equipment like heavy duty ground drills, forklifts, welding machines, 3D printers / prototyping machines and much more!
		</div>
		<div class="about-right col-md-4">
			Toolmash is great for high-cost machinery & equipment like heavy duty ground drills, forklifts, welding machines, 3D printers / prototyping machines and much more!
		</div>
	  </div>
	</div>
</div>