<div class="contact-container">
	<div class="container-fluid">
	  <div class="row">
		<div class="contact-left col-md-6">
			<h1>Contact</h1>

			<h2>Address</h2>
			San Francisco
			</br>
			2269 Cedar St
			</br>
			San Francisco, CA - 94107
			</br>
			</br>
			
			<h2>Contact Us</h2>
			Phone: +1 661.373-4185
			</br>
			info@toolmash.com
			</br>

		</div>
		<div class="contact-right col-md-6">
			<%= image_tag("san-francisco.png") %>
		</div>
	  </div>
	</div>
</div>