<p id="notice"><%= notice %></p>

<!-- banner section -->

<div class="banner">

  <div class="banner-container">
    <div class="tagline">
        YOUR TURN TO EARN
    </div>
    <div class="sub-tagline">
        Rent out your tools for passive income or rent tools to avoid having to purchase.
    </div>
        <div class="sign-up-buttons">
          <button type="button" class="sign-in-button-container1 btn btn-danger btn-lg">  
                <% if current_user.present? %>
                    <%= link_to 'List a Tool', new_tool_path %>
                <% else %>
                    <%= link_to 'Sign In Now!', new_user_session_path %>
                
         </button>
         <button type="button" class="sign-in-button-container2 btn btn-default btn-lg">
               <%= link_to 'Register Now!', new_user_registration_path %>
               <% end %>
         </button>
        </div>
  </div>
</div>


<!-- highlighted tools section -->

<div class="container-fluid" id="services">

  <div class="row">

    <div class="col-md-4 event-type">
      <div class="event-container">
        <h3>Weddings</h3>
        </br>
          <ul>
            <li>Expertise as a professional DJ/emcee</li>
            <li>Pre-Event consultations with your DJ/emcee</li>
            <li>Professional sound systems</li>
            <li>Music and audio for the ceremony</li>
            <li>Wireless microphones</li>
            <li>Dance Lighting</li>
            <li>Custom Grand Entrances and introductions</li>
            <li>An extensive music library</li>
          </ul>
        </br>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </div>
    </div>  

    <div class="col-md-4 event-type">
        <div class="event-container">
          <h3>Corporate Events</h3>
          </br>
          <ul>
            <li>Professional DJ/Emcee 6 + years of experience</li>
            <li>Pre-Event DJ consultations</li>
            <li>Pre-planning materials, up-to-date song list</li>
            <li>Professional audio & Wireless microphones</li>
            <li>An extensive music library</li>
            <li>Music requests throughout the night</li>
            <li>LED Dance lighting</li>
            <li>Set up, take down, and travel expenses</li>
           </ul>
          </br>
          <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
        </div>
      </div> 

    <div class="col-md-4 event-type">
      <div class="event-container">
        <h3>Parties</h3>
        </br>
        <ul>
          <li>Expertise as a professional DJ/emcee</li>
          <li>Pre-Event consultations with your DJ/emcee</li>
          <li>Professional sound systems</li>
          <li>Music and audio for the ceremony</li>
          <li>Wireless microphones</li>
          <li>Dance Lighting</li>
          <li>Custom Grand Entrances and introductions</li>
          <li>An extensive music library</li>
        </ul>
        </br>
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
     </div>
    </div>                        

  </div>


  <!--second highlighted tools row-->

  <div class="row">

    <div class="col-md-4 event-type">
      <div class="event-container">
        <h3>Church Dances / Activities</h3>
        </br>
         <ul>
          <li>A Professional DJ/Emcee</li>
          <li>Pre-Event DJ consultations</li>
          <li>Pre-planning materials</li>
          <li>Professional audio & Wireless microphones</li>
          <li>An extensive music library</li>
          <li>Music requests throughout the night</li>
          <li>LED Dance lighting</li>
          <li>Set up, take down, and travel expenses</li>
        </ul>
        </br>
        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
      </div>
    </div>  

    <div class="col-md-4 event-type">
        <div class="event-container">
          <h3>Bar Mitzvah</h3>
          </br>
           <ul>
            <li>Professional DJ/Emcee 6 + years of experience</li>
            <li>Pre-Event DJ consultations</li>
            <li>Pre-planning materials, up-to-date song list</li>
            <li>Professional audio & Wireless microphones</li>
            <li>An extensive music library</li>
            <li>Music requests throughout the night</li>
            <li>LED Dance lighting</li>
            <li>Additional packages such as dancers also available</li>
           </ul>
          </br>
          <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </div>
      </div> 

    <div class="col-md-4 event-type">
      <div class="event-container">
        <h3>School</h3>
        </br>
         <ul>
          <li>A Professional DJ/Emcee</li>
          <li>Pre-Event DJ consultations</li>
          <li>Pre-planning materials</li>
          <li>Professional audio & Wireless microphones</li>
          <li>An extensive music library</li>
          <li>Music requests throughout the night</li>
          <li>LED Dance lighting</li>
          <li>Set up, take down, and travel expenses</li>
         </ul>
        </br>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
     </div>
    </div>                        

  </div>
</div>


