@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300);

.index-container {
	margin:0 auto;
}

//** navbar styling **//

.navbar {
   border: 0px;
   background: #d9534f;
   border-bottom: 1px solid black;
   padding-bottom: 5px;
   padding-top: 5px;
}

#navigation {
    background-color: #d9534f;
}

.container-fluid {
}

.navbar li > a { 
	color: #FFFFFF;
} 

.navbar-default .navbar-brand {
  color: #FFFFFF;
  padding-top: 15px;
  padding-left: 25px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

.navbar-container-right {
	padding-top: 1px;
	padding-top: 5px;
	padding-right: 25px;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
}

.navbar-form {
	margin: 0px;
	padding-top: 2.5px;
}

#notice {
	background: transparent;
	margin: 0px;
}

.alert {
	margin-top: 60px;
	margin-bottom: 0px;
}

//** banner styling **//

.banner {
	background-image: image-url('banner_image.jpg');
	height: 680px;
	margin-top: -90px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-container {
	text-align: center;
	margin: auto;
	padding-top: 200px;
	color: white;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.tagline {
	font-size: 55px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #666666;
}

.sub-tagline {
	font-size: 16px;
	font-weight: 500;
	text-shadow: 1px 1px 1px #666666; 	 	
}

.sign-up-buttons {
	margin-top: 25px;
}

.sign-in-button-container1 a {
	 color: white;
}

.sign-in-button-container1 {
	 padding-right: 35px;
	 padding-left: 35px;
	 font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


//** highlighted tools sections **//


#home-tool-wrapper {
	background-color: #FFFFFF;
	color: white;
	padding-bottom: 50px;
	margin: 0px;
}

.home-heading h3 {
	padding-top: 50px;
	padding-left: 160px;
	color: #333333;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500; 
}

.home-tools {
	padding-top: 50px;
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #FFFFFF;
}

.home-tool-row {
	margin-bottom: 30px;
}

.home-tool-container {
	height: 560px;
	width: 305px;
	background-color: white;
	color: #222222;
	border: solid 1px #d9d9de;
	margin-bottom: 30px;
}

.home-tool-image {
	height: 250px;
	width: 300px;
	text-align: center;
}

.home-tool-body {
	padding-left: 10px;
	border-top: solid 1px #d9d9de;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.home-tool-name {
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 15px;
	padding-top: 10px;
}

.home-tool-details {
	position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

/**---aboutpage---**/

.about-container {
	height: 550px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px;
	padding-left: 100px;
	padding-right: 130px;
	padding-top: 30px;
	text-align: justify;
}

.about-left {
	padding-right: 50px;
}

.about-left h1 {
	padding-bottom: 30px;
}

.about-right {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 22px;
	background-color: #d9534f;
	color: white; 
	margin-top: 100px;
}

/**--contact----*/

.contact-container {
	height: 550px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 20px;
	padding-left: 100px;
	padding-right: 130px;
	padding-top: 20px;
	text-align: justify;
}

.contact-left {
	padding-right: 50px;
	padding-top: 10px;
}

.contact-left h1 {
	padding-bottom: 30px;
	padding-top: 10px;
}

.contact-right {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 22px;
	color: white; 
	margin-top: -10px;
}

/*----footer ----*/

.footer {
	background-color: #d9534f;
	padding-top: 40px;
	padding-bottom: 30px;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.bottom-container {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.email-block {
	margin-top: 25px;
	color: white;
	font-size: 20px;
}

.footer-img {
	padding-left: 15px;
	padding-right: 15px;
    border-radius: 50%;
}

/**---------index---------**/

.index-tools {
	padding-top: 50px;
	padding-bottom: 100px;
	margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #FFFFFF;
}

.index-tool-row {
	margin-bottom: 30px;
}

.index-tool-container {
	height: 250px;
	width: 180px;
	background-color: white;
	color: #222222;
	border: solid 1px #d9d9de;
	margin-bottom: 30px;
}

.index-tool-image {
	height: 110px;
	width: 100px;
	padding-top: 10px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.index-tool-body {
	padding-left: 10px;
	padding-right: 5px;
	border-top: solid 1px #d9d9de;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.index-tool-name {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 5px;
	padding-top: 10px;
}

.index-tool-details {
	position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.index-container h1 {
	padding-left: 60px;
	padding-top: 50px;
}

.small-index-boxes {
	padding-left: 10px;
	padding-right: 10px;
}

/**----manage page ------**/


.manage-tools {
	padding-top: 50px;
	padding-bottom: 100px;
	margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #FFFFFF;
}

.manage-tool-row {
	margin-bottom: 30px;
}

.manage-tool-container {
	height: 300px;
	width: 180px;
	background-color: white;
	color: #222222;
	border: solid 1px #d9d9de;
	margin-bottom: 30px;
}

.manage-tool-image {
	height: 110px;
	width: 100px;
	padding-top: 10px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.manage-tool-body {
	padding-left: 10px;
	padding-right: 5px;
	border-top: solid 1px #d9d9de;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.manage-tool-name {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 5px;
	padding-top: 10px;
}

.manage-tool-details {
	position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.manage-container h1 {
	padding-left: 60px;
	padding-top: 50px;
}

.small-manage-boxes {
	padding-left: 10px;
	padding-right: 10px;
}

/**--- New Tool Path ---**/


/**--- Registraion ----**/

.registration-box {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	height: 440px;
	padding-bottom: 100px;
}

/**---- Sign in ------**/

.signin-box {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	height: 440px;
	padding-bottom: 100px;
}

