@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300);

.index-container {
	margin:0 auto;
}

//** navbar styling **//

.navbar {
   border: 0px;
   background: transparent;
}

#navigation {
    background: transparent;
}

.container-fluid {
	background: transparent;
}

.navbar li > a { 
	color: #FFFFFF 
} 

.navbar-default .navbar-brand {
  color: #FFFFFF;
  padding-top: 35px;
  padding-left: 25px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

.navbar-container-right {
	padding-top: 30px;
	padding-right: 25px;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
}

#notice {
	background: transparent;
	margin: 0px;
}

.alert {
	margin-top: 60px;
	margin-bottom: 0px;
}

//** banner styling **//

.banner {
	background-image: image-url('banner_image.jpg');
	height: 680px;
	margin-top: -90px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-container {
	text-align: center;
	margin: auto;
	padding-top: 200px;
	color: white;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.tagline {
	font-size: 55px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #666666;
}

.sub-tagline {
	font-size: 16px;
	font-weight: 500;
	text-shadow: 1px 1px 1px #666666; 	 	
}

.sign-up-buttons {
	margin-top: 25px;
}

.sign-in-button-container1 a {
	 color: white;
}

.sign-in-button-container1 {
	 padding-right: 35px;
	 padding-left: 35px;
	 font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

//** highlighted tools sections **//


#home-tool-wrapper {
	background-color: #FFFFFF;
	color: white;
	padding-bottom: 50px;
	margin: 0px;
}

.home-heading h3 {
	padding-top: 40px;
	padding-left: 160px;
	color: #333333;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500; 
}

.home-tools {
	padding-top: 40px;
	margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #FFFFFF;
}

.home-tool-row {
	margin-bottom: 30px;
}

.home-tool-container {
	height: 500px;
	width: 305px;
	background-color: white;
	color: #222222;
	border: solid 1px #d9d9de;
}

.home-tool-image {
	height: 300px;
	width: 300px;
	text-align: center;
}